	<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      Questions?  Contact us at: <a href=mailto:silas.rioux@gmail.com?
      	Subject="I%20Have%20a%20Question">silas.rioux@gmail.com</a>
    </p>


